.login {
  font-family: 'Roboto';

  &-container {
    min-width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 32px;
    border-radius: 6px;
    box-shadow: 1px 0px 13px 2px rgba(0,0,0,0.05);
  }

  &-inputs {
    width: 100%;
    margin-top: 48px;
  }

  &-button {
    width: 100%;
    margin-top: 40px;
  }

  &-registry-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 18px;
  }
}