@import "../../components/Carrousel/styles.scss";

.business-detail {
  .upload-logo__icon {
    height: 55px;
  }

  &__product-detail-icon {
    height: 16px;
    width: 16px;
    transform: rotate(90deg);
  }
}

.edit-button__icon {
  width: 30px;
  height: 30px;
}

