@import "../../components/Search/styles.scss";

.home-page {
  &__complete-orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.add-button__icon {
  width: 30px;
  height: 30px;
}