.components-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;

  .logo-svg {
    width: 40px;
    height: 40px;
  }

  :hover {
    cursor: pointer;
  }
}

.header-color-logo {
  height: 36px;
  width: 150px;
}

@media screen and (max-width: 768px) {
  .components-container {
    padding: 0 20px;
  }
}
