.fc {
  width: auto;
  
  .fc-toolbar.fc-header-toolbar {
    margin-bottom: 20px;
  }

  .fc-toolbar-title {
    font-size: 18px;
  }

  .fc-button {
    font-size: 16px;
  }

  .fc-today-button {
    display: none;
  }

  table {
    font-size: 14px;
  }
}
