.text-input {
  padding: 8px 12px;
  border: solid 1px rgba(146, 145, 145, 0.8);
  border-radius: 3px;
  outline-color: transparent;
  font-size: 16px;
  font-family: 'Roboto';

  &__required {
    border: solid 1px #E55934;
  }
}

.text-input:focus-visible {
  border: solid 3px #9BC53D;
  outline-color: transparent;
}

.text-input__required:focus-visible {
  border: solid 3px #E55934;
}

.label-space {
  height: 23px;
}

.warning-space {
  height: 15px;
}
